html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: white;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 10%;
    padding: 0px 20px 0px 0px;
    background-color:white;
    list-style: none;
    margin: 0;
}
#menu-h ul {
    max-width: 900px;
    list-style: none;
    padding: 10;
}
#menu-h ul li a {
    color: #537fbe;
    padding: 20px;
    text-decoration: none;
    transition: background .2s;
}
#menu-h ul li a:hover {
    background-color: #537fbe;
    color: white;
    width: 100%;
}

#menu-h ul li a {
    float:inline-start;
}
.header {
    background-color: #537fbe;
    min-height: 130px;
    text-decoration: none;
    color: #537fbe;
    margin-left: 20px;
}
.content {
    background-color: white;
    min-height: 300px;
    font-size: 25px;
    margin: 55px;
}
.footer {
    background-color: #537fbe;;
    color: white;
    min-height: 150px;
    width: 100%;
    font-size: 20px;
}
.texto{
    font-size: 25px;
}
table{
    font-size: 32px;
    border: solid 1px grey;
}
table thead th{
   background-color: black;
   color: white;
}
table tfoot td {
    background-color: lightgrey;
}
table tbody tr:nth-child(even){
    background-color: #f1f1f1;
}
